<!DOCTYPE html>
<html lang="en">
<head>
  <title>B!T C@IN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">메인</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/money">자산관리</a>
    </li>
    {% if session['email'] %}
    <li class="nav-item">
      <a class="nav-link" href="/logout">로그아웃</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/signup">회원가입</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signin">로그인</a>
    </li>
    {% endif %}
  </ul>
</nav>
<br>

<div class="container-fluid">
  <h3>드랍비트 거래소</h3>
  <p>현 거래소는 가상 암호화폐 거래소 사이트 중 가장 신뢰할만한 사이트입니다.</p>
</div>

</body>
</html>
