<!DOCTYPE html>
<html>
  <head>
    <title>자산 관리</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
<body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">메인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/money">자산관리</a>
      </li>
      {% if session['email'] %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/signup">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">로그인</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <br>
  


<!-- HTTP Request 방식을 POST로 바꿨음, 적지 않을 경우에는 기본 GET임-->
<div class="container">
<form action="/show" method="POST">
  <label for="fname">Input your coin :</label><br>
  <input type="text" id="fname" name="money" value="">
  <input type="submit" value="Show me the money">
</form>

<p>B!t c@in input page.</p>
</div>

</body>
</html>
