<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">메인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/money">자산관리</a>
      </li>
      {% if session['email'] %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/signup">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">로그인</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <br>

<div class="container">
  <h2>로그인</h2>
  <form action="/signin" method="POST">
    <div class="form-group">
      <label for="user_email">이메일:</label>
      <input type="email" class="form-control" id="user_email" placeholder="Enter email@email.com" name="user_email">
    </div>
    <div class="form-group">
      <label for="user_pwd">비밀번호:</label>
      <input type="password" class="form-control" id="user_pwd" placeholder="Enter password" name="user_pwd">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>

</body>
</html>
