<!DOCTYPE html>
<html>
<head>
  <title>회원 가입</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">메인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/money">자산관리</a>
      </li>
      {% if session['email'] %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/signup">회원가입</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signin">로그인</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <br>

<div class="container">
  <h2>회원 가입</h2>
  <form id="myForm" action="/signup" onsubmit="return validateForm()" method="POST">
    <div class="form-group">
      <label for="user_name">이름:</label>
      <input type="text" class="form-control" id="user_name" placeholder="Enter Name" name="user_name">
    </div>
    <div class="form-group">
      <label for="user_email">이메일:</label>
      <input type="email" class="form-control" id="user_email" placeholder="Enter email@email.com" name="user_email">
    </div>
    <div class="form-group">
      <label for="user_pwd">비밀번호:</label>
      <input type="password" class="form-control" id="user_pwd" placeholder="Enter password" name="user_pwd">
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>

</body>
</html>


<!-- 스크립트 관련 -->
<script>
// Form 빈 값 체크하기
function validateForm()
{
  var email = document.forms["myForm"]["user_email"].value;
  var pwd = document.forms["myForm"]["user_pwd"].value;
  var name = document.forms["myForm"]["user_name"].value;
  if(!email)
  {
    alert("이메일을 입력하세요.")
    return false;
  }
  if(!pwd)
  {
    alert("패스워드를 입력하세요.")
    return false;
  }
  if(!name)
  {
    alert("이름을 입력하세요.")
    return false;
  }
  
}
</script>